#divContenedor {
    background-color: rgb(87, 87, 87);
    position: absolute;
    margin: auto;
}
.textoVidas {
    color: white;
    font-weight: bolder;
    position: absolute;
    margin-left: 70px;
    margin-top: 3px;
  }